body {
  background-color: #a1b4e8;
}

#aries, #taurus, #gemini, #cancer, #leo, #virgo, #libra, #scorpio, #sagittarius, #capricorn, #aquarius, #pisces {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
